<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>메인페이지</title>
    <!-- 제이쿼리 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/js/matzip.js"></script>

</head>
<body>

<div th:replace="layout/header2" :: menu />

<div id="map" style="width:100%;height:800px;"></div>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=4a0d83340721dd0aa7133f7c63bcccf3"></script>
<script>


var matzipData = matzipLoad();
console.log(matzipData);

let matzipList =[];
for (var i = 0; i < matzipData.length; i ++) {

    let obj ={};
    obj.name = matzipData[i].name;
    obj.latlng = new kakao.maps.LatLng(matzipData[i].lng, matzipData[i].lat);
    obj.category = matzipData[i].category;
    obj.address = matzipData[i].address;
    obj.url = matzipData[i].url;
    matzipList.push(obj);
}

console.log(matzipList);

var mapContainer = document.getElementById('map'),
    mapOption = {
        center: new kakao.maps.LatLng(37.55113024763489, 127.01103376599649),
        level: 8 // 지도의 확대 레벨
    };
var map = new kakao.maps.Map(mapContainer, mapOption);




for (var i = 0; i < matzipList.length; i ++) {

    let marker = new kakao.maps.Marker({
        map: map, // 마커를 표시할 지도
        position: matzipList[i].latlng, // 마커의 위치
        clickable: true // 마커를 클릭했을 때 지도의 클릭 이벤트가 발생하지 않도록 설정
    });

    // 마커에 표시할 인포윈도우를 생성합니다
    let infowindow = new kakao.maps.InfoWindow({
        content: matzipList[i].name // 인포윈도우에 표시할 내용
    });

    kakao.maps.event.addListener(marker, 'mouseover', makeOverListener(map, marker, infowindow));
    kakao.maps.event.addListener(marker, 'mouseout', makeOutListener(infowindow));

    // 마커를 클릭했을 때 마커 위에 표시할 인포윈도우를 생성합니다
    let iwContent = `<div class="info-title">${matzipList[i].name}</div>
                       <div class="info-title">${matzipList[i].category}</div>
                       <div class="info-title">${matzipList[i].address}</div>
                       <a href=${matzipList[i].url}>유튜브 이동</a>`,
         iwRemoveable = true; // removeable 속성을 ture 로 설정하면 인포윈도우를 닫을 수 있는 x버튼이 표시됩니다


    // 인포윈도우를 생성합니다
    let infowindow_click = new kakao.maps.InfoWindow({
        content : iwContent,
        removable : iwRemoveable
    });

    // 마커에 클릭이벤트를 등록합니다
    kakao.maps.event.addListener(marker, 'click', function() {
        // 마커 위에 인포윈도우를 표시합니다
        infowindow_click.open(map, marker);
    });

}

// 인포윈도우를 표시하는 클로저를 만드는 함수입니다
function makeOverListener(map, marker, infowindow) {
    return function() {
        infowindow.open(map, marker);
    };
}

// 인포윈도우를 닫는 클로저를 만드는 함수입니다
function makeOutListener(infowindow) {
    return function() {
        infowindow.close();
    };
}



</script>

<script src="/js/matzip.js"></script>
</body>
</html>