<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:replace="layout/header" :: menu />
<main class="main">
    <section class="container">

        <h1 th:text="${user.username}">환명메세지</h1>

        <input type="text" id="sample5_address" placeholder="주소">
        <input type="button" onclick="sample5_execDaumPostcode()" value="주소 검색"><br>
        <div id="map" style="width:300px;height:300px;margin-top:10px;display:none"></div>

        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
        <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=4a0d83340721dd0aa7133f7c63bcccf3&libraries=services"></script>
        <script>
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new daum.maps.LatLng(37.537187, 127.005476), // 지도의 중심좌표
            level: 5 // 지도의 확대 레벨
        };

    //지도를 미리 생성
    var map = new daum.maps.Map(mapContainer, mapOption);
    //주소-좌표 변환 객체를 생성
    var geocoder = new daum.maps.services.Geocoder();
    //마커를 미리 생성
    var marker = new daum.maps.Marker({
        position: new daum.maps.LatLng(37.537187, 127.005476),
        map: map
    });


    function sample5_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                var addr = data.address; // 최종 주소 변수

                // 주소 정보를 해당 필드에 넣는다.
                document.getElementById("sample5_address").value = addr;
                // 주소로 상세 정보를 검색
                geocoder.addressSearch(data.address, function(results, status) {
                    // 정상적으로 검색이 완료됐으면
                    if (status === daum.maps.services.Status.OK) {

                        var result = results[0]; //첫번째 결과의 값을 활용

                        // 해당 주소에 대한 좌표를 받아서
                        var coords = new daum.maps.LatLng(result.y, result.x);
                        // 지도를 보여준다.
                        mapContainer.style.display = "block";
                        map.relayout();
                        // 지도 중심을 변경한다.
                        map.setCenter(coords);
                        // 마커를 결과값으로 받은 위치로 옮긴다.
                        marker.setPosition(coords)
                    }
                });
            }
        }).open();
    }
</script>

<!--        <div id="map" style="width:100%;height:700px;"></div>-->
<!--        <script type="text/javascript"-->
<!--            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=4a0d83340721dd0aa7133f7c63bcccf3&libraries=services,clusterer,drawing"></script>-->



<!--        <script>-->
<!--            var container = document.getElementById('map');-->
<!--            var options = {-->
<!--                center: new kakao.maps.LatLng(37.5666103, 126.9783882),-->
<!--                level: 5-->
<!--            };-->

<!--            var map = new kakao.maps.Map(container, options); //지도생성-->

<!--            // 장소 검색 객체를 생성합니다-->
<!--            var ps = new kakao.maps.services.Places();-->

<!--            // 키워드로 장소를 검색합니다-->
<!--            ps.keywordSearch('이태원 맛집', placesSearchCB);-->

<!--            // 키워드 검색 완료 시 호출되는 콜백함수 입니다-->
<!--            function placesSearchCB(data, status, pagination) {-->
<!--                if (status === kakao.maps.services.Status.OK) {-->

<!--                    // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해-->
<!--                    // LatLngBounds 객체에 좌표를 추가합니다-->
<!--                    var bounds = new kakao.maps.LatLngBounds();-->

<!--                    for (var i = 0; i < data.length; i++) {-->
<!--                        displayMarker(data[i]);-->
<!--                        bounds.extend(new kakao.maps.LatLng(data[i].y, data[i].x));-->
<!--                    }-->

<!--                    // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다-->
<!--                    map.setBounds(bounds);-->
<!--                }-->
<!--            }-->

<!--            // 지도에 마커를 표시하는 함수입니다-->
<!--            function displayMarker(place) {-->

<!--                // 마커를 생성하고 지도에 표시합니다-->
<!--                var marker = new kakao.maps.Marker({-->
<!--                    map: map,-->
<!--                    position: new kakao.maps.LatLng(place.y, place.x)-->
<!--                });-->

<!--                // 마커에 클릭이벤트를 등록합니다-->
<!--                kakao.maps.event.addListener(marker, 'click', function () {-->
<!--                    // 마커를 클릭하면 장소명이 인포윈도우에 표출됩니다-->
<!--                    infowindow.setContent('<div style="padding:5px;font-size:12px;">' + place.place_name + '</div>');-->
<!--                    infowindow.open(map, marker);-->
<!--                });-->
<!--            }-->




<!--            //지도타입 컨트롤을 생성-->
<!--            var mapTypeControl = new kakao.maps.MapTypeControl();-->

<!--            // 지도 컨트롤 추가-->
<!--            map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);-->

<!--            // 줌 컨트롤을 생성-->
<!--            var zoomControl = new kakao.maps.ZoomControl();-->
<!--            map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);-->

<!--        </script>-->



    </section>
</main>
<script src="/js/story.js"></script>
<div th:replace="layout/footer" :: footer />

</body>

</html>